annotated-types
anyio
async-generator
attrs
beautifulsoup4
certifi
charset-normalizer
click
colorama
decorator
distro
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
filelock
fsspec
h11
httpcore
httptools
httpx
idna
imageio-ffmpeg
Jinja2
jiter
joblib
llvmlite
markdown-it-py
MarkupSafe
mdurl
more-itertools
mpmath
mysql-connector-python
networkx
nltk
openai
openai-whisper
outcome
pillow
proglog
pydantic
pydantic_core
pydub
Pygments
PySocks
python-dotenv
python-multipart
python-telegram-bot
PyYAML
regex
requests
rich
scikit-learn
scipy
selenium
shellingham
sniffio
sortedcontainers
soupsieve
starlette
sympy
threadpoolctl
tiktoken
torch
tqdm
trio
trio-websocket
typer
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
wsproto
